html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: helvetica neue,helvetica,arial,sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
img{
    border:none;
    outline: none;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul,li{
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}
li{
    padding: 0 1%; 
}
a{
    text-decoration: none;
    color:white;
    font-weight: 100;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav{
    height: 80px;
    width:100vw; 
    background-color:rgb(42, 174, 189);
    line-height: 70px;
    color:white;

}
.nav-nav{
    height: 100%;
    vertical-align: middle;
    font-size: 1.3em;

}
.focus-adjust{
    display: none;
}

.icon-floater{
    height: 100px;
    border: none;
    text-decoration: none;
    display: inline;
    background: url("../img/i1.png");
    -webkit-background-size: 0 200px;
    background-size: 528px 68px;
    background-position:-132px -38px;
    
}
.pad-left{
    padding-left:5%;
}


/*slider*/
.slider-text{

   font-size: 2.2em;

}

.slider{
    height: 100vh;  
    position: relative;
   /* background: url("../img/slid2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background: linear-gradient(45deg, #0077b5,#008891);
    
}
.effect{
    height: 100%;width: 100%;background-color: black;opacity:0.35;
}


/*logooo*/
.logo{
    float: right;
    margin-right: 40%;
}
.inc-size{
    height: 100px;
}

.content-main{
    padding: 1.2em 50px;


}
.my-img{
    border-radius: 50%;
    box-shadow: 1px 8px 8px grey;
}
.my-img:hover{
    box-shadow: 3px 8px 10px lightgrey;
}

.about-me{
    font-weight:100;
    text-align: left;
    padding-left:10px;
}
.getquote{
    box-shadow:1px 4px 4px grey;
}
.myname{

    height: 300px;width: 400px;      
    position: absolute;
    bottom: -50%;left: 0;
    transform: scale(1.5);

}
#svg_3,#svg_4,#svg_5,#svg_7{
    stroke: #00ff00;
    font-weight: 100;
    fill: white;
    font-size: 2em;
    text-shadow: 5px 5px 4px grey;
}

.fainter{
    height: 300px;width: 100%;
    position: fixed;
    bottom:0;left:0;
    z-index:1;
}
.chck{
    z-index:2;
    position: relative;
    background: white;
}
.cnter{
    width: 65%;
    margin: 0 auto;

}
.mywork{
    margin-bottom: 10px;
    min-height: 200px;
}
#id01{
    margin:0 auto;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (max-width: 60em) {
   body{
    font-size:0.9em;
   }
   .nav-nav{
    font-size: 1.1em;
   }
}

@media only screen and (max-width: 35em) {
    .nav-nav{
        display: font;

    }

    .focus-adjust{
        display: inline-block;
    }
   
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
